@font-face {
  font-family: 'Karla';
  src: url('./assets/fonts/Karla-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Karla';
  src: url('./assets/fonts/Karla-Bold.ttf');
  font-weight: 700;
}

.App {
  font-family: 'Karla';
  text-align: center;
  color: #2c2c2c, !important;
}

.logo {
  width: 100px;
  pointer-events: none;
  margin-bottom: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: pulsate infinite 3s ease-in-out;
  }
}

.container {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #555;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
  transform: scale(1);
}

}

.css-14rv86o-MuiButtonBase-root-MuiButton-root-MuiLoadingButton-root {
  /* Primary Color */
background: linear-gradient(270deg, #000 0%, #2C2C2C 100%);
/* Primary Shadow */
box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
border-radius: 6px;
}

.css-q1o44k-MuiButtonBase-root-MuiBottomNavigationAction-root{
  color:#888787;
}

.css-bynrdj-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked{
  color: #526bff !important;
}
.css-bynrdj-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track{
  background-color: #526bff !important;
}
.css-q1o44k-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected{
  color: #526BFF!important;
}

.css-vmaine-MuiButtonBase-root-MuiButton-root{
    /* Primary Color */
background: #D9D9D9!important;
border-radius: 510px!important;

}
.css-w1ly0o-MuiButtonBase-root-MuiButton-root-MuiLoadingButton-root{
background: #D9D9D9!important;
border-radius: 510px!important;
box-shadow: none!important;

}

.custom-loading{
border-radius: 510px!important;
box-shadow: none!important;
}
